
:root {
    --cell-size: 30px;
}

.board {
    display: grid;
    grid-template-columns: repeat(10, var(--cell-size));
    grid-template-rows: repeat(10, var(--cell-size));
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid #ccc;
    text-align: center;
}

.clickable:hover {
    background-color: #aaa;
}

.shot {
    background-color: #77f !important;
}

.shot.ship {
    background-color: #f00 !important;
}

.hit {
    background-color: #f00 !important;
}

